{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Author list
    <a style="float: right" href="{% url 'catalog:author-create' %}" class="btn btn-primary">Add author</a>
  </h1>
  {% if author_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Username</th>
        <th>Pseudonym</th>
      </tr>

      {% for author in author_list %}
        <tr>
          <td>
            <a href="{{ author.get_absolute_url }}">{{ author.id }}</a>
          </td>
          <td>
            {{ author.first_name }} {{ author.last_name }}
          </td>
          <td>
            {{ author.username }}
          </td>
          <td>
            {{ author.pseudonym|default_if_none:"" }}
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no authors in library</p>
  {% endif %}
{% endblock %}
